<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>OryX Transformation Engine</title>

<link href="/css/main.css" media="all" type="text/css" rel="stylesheet">
<link href="/css/bootstrap.min.css" media="all" type="text/css" rel="stylesheet">
<link href="/css/bootstrap-responsive.min.css" media="all" type="text/css" rel="stylesheet">

<script src="/scripts/jquery-1.8.3.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
	
</head>
<body>
 <center>
  <img src="/css/images/oryx.png" alt="" />
  <h1>OryX Transformation Engine</h1>
   </center>
	  <div class="row" style="margin-left: 37%;margin-top: 3%;">
		<div class="span8" >
		    <form action="" method="get" accept-charset="utf-8" class="form-horizontal" >
		
			      	<input name="url" type="text" class="txt" id = "input" value="type url here.." onfocus="this.value='';" />
		
			      	<input  class="btn btn-large btn-primary" type="submit" class="btn" value="Go" />
		
		    </form>
    	</div> 
	</div>

</body>
</html>
